.pt_hms_order_modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt_hms_order_modal .modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
    max-height: 70vh;
    background-color: #fefefe;
    border: 1px solid #888;
    overflow-y: auto;
}

.pt_hms_order_modal .close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #aaa;
    font-size: 28px;
    cursor: pointer;
}

.pt_hms_order_modal .close:hover,
.pt_hms_order_modal .close:focus {
    color: #000;
    text-decoration: none;
}

.pt_hms_order_modal label,
.pt_hms_order_modal input,
.pt_hms_order_modal select,
.pt_hms_order_modal button {
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.pt_hms_order_modal input,
.pt_hms_order_modal select {
    border: 1px solid #ccc;
    flex: 1;
}

.pt_hms_order_modal button#ptc-submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

.pt_hms_order_modal textarea#ptc_wc_shipping_address {
    width: 100%;
}

.pt_hms_order_modal button#submit-button:hover {
    background-color: #45a049;
}

#ptc-custom-modal .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ptc-custom-modal .form-group label {
    margin-right: 10px;
}

#ptc-custom-modal .form-group .form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#ptc-custom-modal .row {
    display: flex;
    justify-content: space-between;
}

#ptc-custom-modal .form-group {
    flex: 1;
    margin-right: 10px;
}

.column-pathao .ptc-open-modal-button {
    cursor: pointer;

}

.pt-field-error-message {
    display: none;
    color: red;
}

.ptc-modal-bulk-order {
    padding: 50px;
    margin: 0 auto;
    max-width: 960px;
    background: white;
    position: relative;
    /*overflow-x: auto;*/
}

.ptc-modal-bulk-order td {
    position: relative;
}


.ptc-modal-bulk-order input {
    width: 100%;
}

.ptc-item-btn {
    float: right;
}